<h2>全部家店</h2>
<div id="restaueants">
</div>
<div class="loade show" >
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
</div>
<script>
    let skipNum = 0
    function getData() {
        //ajax1
        const http = new XMLHttpRequest()
        // 传入id,解析id<%= categoryId %>
        http.open('POST', '/category/<%= categoryId %>', true)
        http.onreadystatechange = function () {
            console.log(this);
            if(this.readyState === 4 && this.status === 200) {
                const data = JSON.parse(this.responseText)
                
                console.log(data)
                let html = ""
                for (let i = 0; i < data.length; i++) {
                    html += `
                    <div class="restaueant">
                        <a href="/restaurants/${data[i]._id}">
                    <div><img src="/img/restaurant/${data[i].image}" alt=""> </div>
                        <h4>${data[i].name}</h4>
                        </a>
                    </div>`
                }
                document.querySelector('#restaueants').innerHTML += html
                        skipNum += 2
                        document.querySelector('.loade').classList.remove('show')
                    }
                }
                const formData = new FormData()
                formData.append('skipNum', skipNum)
                http.send(formData)
            }
            //页面加载完成时加载getData():初始化
            window.addEventListener('load', function () {
                getData()
            })

            //上滑到底时加载getData()
            window.addEventListener('scroll', function () {
                const { clientHeight, scrollTop, scrollHeight } = document.documentElement

                // 滚动距离+视口高度 >=文档总高度    即代表滑动到底部
                if (scrollTop + clientHeight + 1 >= scrollHeight) {
                    console.log('到底了')
                    showloader()
                }
            })
            function showloader(){
              document.querySelector('.loade').classList.add('show')
                setTimeout(function(){
                    getData()
                },1000)
            }
        </script>
       